crate
# duckdb

google
mailersend
psutil
pygsheets
pymysql
requests
resend
schedule

gunicorn
flask
# flask_apscheduler

clts_pcp

#  The following modules are included in standard python, 
#  including them here lead to errors.

#subprocess
#socket
#os
#sys
#time
