# standard library (do not include — causes errors)
# os
# socket
# subprocess
# sys
# time

# third party
clts_pcp
couchbase
crate
cryptography
flask
gunicorn
mailersend
psutil
pymysql
requests
resend
schedule
snowflake-connector-python

# optional / disabled
# duckdb
# flask_apscheduler
# google
# paramiko[dss] - necessário para d5gate (acesso a baze)
# pygsheets

